<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="ConfigFragment">
<head>
    <!--Common Head-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!--Common JS-->
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/common-util.js}"></script>

    <!--Common CSS -->
    <link th:inline="css" th:href="@{/css/css-reset.css}" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/css/common-style.css}" rel="stylesheet"/>

    <script th:inline="javascript">
        const clientMsg = /*[[${clientMsg}]]*/ null;
        if (clientMsg != null) {
            alert(decodeURIComponent(clientMsg['msg']));

            const url = new URL(window.location.href);
            url.searchParams.delete(clientMsg['type']);
            window.history.pushState({}, '', url);
        }
    </script>
</head>
</html>