<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./common/layouts/utilLayout}"
      layout:fragment="Content"
>
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
    <form th:action="@{/login/login}" method="post">
        <table>
            <tr>
                <td>id</td>
                <td><input type="text" name="userId"></td>
            </tr>
            <tr>
                <td>pw</td>
                <td><input type="text" name="userPw"></td>
            </tr>
            <tr>
                <input type="submit" value="Login">
                <input type="button" value="Register" onclick="location.href='/login/registerView'">
            </tr>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
        </table>
    </form>
</body>
</html>